{% extends "theme/base-userdefine.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}日志查看页面{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
    <script>
        $(document).ready(function () {
            $(".log-select").click(function () {
                let file = $(this).attr('data-value');
                $('#log-panel').attr('src', '/log/read/?file=' + file);
            });

            let new_height = window.innerHeight - 80 + 'px';
            $("#log-panel").css("height", new_height);

            new_height = window.innerHeight - 170 + 'px';
            $(".list-group").css("height", new_height);
            $(".list-group").css("overflow", "auto");
        });
    </script>
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
    <style>
        body {
            height: 100%;
        }
    </style>
{% endblock %}

{% block page_header %}
    {% include "99-开发管理/base-devel-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block user_define_block %}
    {# 在这里添加你的代码 #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <h3>日志文件列表</h3>
                <hr>
                <div class="list-group" style="border: #1a69a4 dashed 1px;">
                    {% for file in log_files %}
                    <a href="#" data-value="{{ file }}" class="log-select list-group-item">{{ file|cut:log_dir_path }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-10">
                <iframe id="log-panel" src="/log/help/" width="100%"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}