{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}采集器-采集单元{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
    <script>
        $(document).ready(function () {
            $('.dropdown-menu').dropdown()
        });
    </script>
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "99-开发管理/base-devel-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "93-采集器控制管理/base-顶级选项卡.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <form class="form" method="post">
        <div class="form-group">
            <label for="unit_id">采集单元ID</label>
            <input class="form-control" type="text" required readonly value="{{ unit_id }}" name="unit_id" id="unit_id">
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label for="unit_name">采集单元名</label>
                <input class="form-control" type="text" required name="unit_name" id="unit_name" value="{{ unit_name }}">
            </div>

            <div class="col-xs-2">
                <label for="unit_user">采集账号</label>
                    <input class="form-control" type="text" required name="unit_user" id="unit_user" value="{{ unit_user }}">
            </div>

            <div class="col-xs-2">
                <label for="unit_type">采集方式</label>
                <select class="form-control" id="unit_type" name="unit_type">
                    <option value="init"{% if unit_type == 'init' %} selected{% endif %}>初始化采集</option>
                    <option value="period"{% if unit_type == 'period' %} selected{% endif %}>周期采集</option>
                    <option value="listen"{% if unit_type == 'listen' %} selected{% endif %}>监听采集</option>
                </select>
            </div>

            <div class="col-xs-2">
                <label for="unit_ttw">采集等待/周期</label>
                <div class="input-group">
                    <input class="form-control" type="number" required name="unit_ttw" id="unit_ttw" value="{{ unit_ttw }}">
                    <span class="input-group-addon">秒</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label for="unit_path">目标路径</label>
                <div class="input-group">
                    <span class="input-group-addon">/v1.0/realtime</span>
                    <input name="unit_path_prefix" value="/v1.0/realtime" hidden>
                    <input class="form-control" type="text" required value="{{ unit_path }}" id="unit_path" name="unit_path">
                    <div class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-xs-offset-10 col-xs-2">
                <input type="submit" class="btn btn-block btn-success" value="保存">
            </div>
        </div>
    </form>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}