<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #DDDDDD">
    <div class="container-fluid">
        <span style="font-size: 32px; line-height: 50px;">
            <!--span class="glyphicon glyphicon-wrench"></span-->
            <span class="text-danger"><b class="text-primary" style="font-size: 40px;">D</b>evelop</span>
        </span>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}/{% endif %}">
                    <span class="glyphicon glyphicon-share-alt"> 返回</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<h1>&nbsp;</h1>