{% extends "theme/base-0-12-0.html" %}

{% block meta_block %}{% endblock %}

{% block title %}连接编辑{% endblock %}

{% block js_library %}
{% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
{% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
    <script>
        $(document).ready(function () {
            $(".color-picker").click(function () {
                let color = $(this).css('background-color');
                let shap_color = color.match(/rgb\((\d+),\s(\d+),\s(\d+)\)/);

                let r = Number(shap_color[1]).toString(16);
                if (r.length===1) {
                    r = '0' + r;
                }
                let g = Number(shap_color[2]).toString(16);
                if (g.length===1) {
                    g = '0' + g;
                }
                let b = Number(shap_color[3]).toString(16);
                if (b.length===1) {
                    b = '0' + b;
                }

                $("#color").val(['#', r, g, b].join(''));
            });
        });
    </script>
{% endblock %}
{% block inline_css %}{% endblock %}

{% block page_header %}
    {% include "95-系统一次图编辑显示管理/base-linkage-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
{# 在这里添加你的代码 #}
    <h1>连线{{ model.name }}编辑</h1>
    <hr>
    <form method="post" action="{{ request.path }}?next={% url 'design linkage profile' lid %}">
        <label for="fid">方案ID</label>
        <input class="form-control" type="text" required readonly id="fid" name="fid" value="{{ lid }}">

        <label for="id">连线ID</label>
        <input class="form-control" type="text" required readonly id="id" name="id" value="{{ linkid }}">

        <label for="title">显示标题</label>
        <input class="form-control" type="text" id="title" name="title" value="{{ link.title }}">
        <span class="help-block">连线名称，不需要可留空</span>

        <div class="row">
            <div class="col-xs-1">
                <label for="color">颜色</label>
                <input class="form-control" type="color" id="color" name="color" value="{{ link.color|default:"#000000" }}">
                <span class="help-block">连线颜色</span>
            </div>
            <div class="col-xs-9">
                <br>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: black"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: red"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: green"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: #67bbff"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: #ffa711"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: #ff66a8"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: #68ff41"></a>
                <a href="#" class="color-picker btn" style="width: 40px; height: 40px; background-color: #2480ff"></a>
            </div>
        </div>

        <label for="width">线宽</label>
        <input class="form-control" type="number" id="width" name="width" value="{{ link.width|default:3 }}">
        <span class="help-block">连线宽度</span>

        <label for="style">线型</label>
        <select name="style" id="style" class="form-control">
            <option value="solid"{% if link.sytle == 'solid' %} selected{% endif %}>solid</option>
            <option value="dashed"{% if link.sytle == 'dashed' %} selected{% endif %}>dashed</option>
        </select>

        <br>
        <input type="submit" value="保存并返回" class="btn btn-primary btn-block">
        <a href="{% url 'design linkage profile' lid %}" class="btn btn-default btn-block">取消并返回</a>
    </form>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}