<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base-界面head.html" %}
    <title>电池堆信息总览</title>
</head>
<body>
    {% include "base-顶部标题栏.html" %}

    <div class="container">
        {% include "ems/base-选项卡.html" %}

        <h4>&nbsp;</h4>
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="http://192.168.2.106:9001/html/picture/ems.png" />
            </div>
        </div>

    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>
