<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="/"><img class="navbar-brand" style="padding: 5px" href="#" src="/static/imgs/logo.png" /></a>
        <p class="nav navbar-nav" style="color:#013e98;font-size:28px;line-height: 170%">&nbsp;ESSBU</p>
        <ul class="nav navbar-nav navbar-right">
            {% if current_warnings_count > 0 %}
            <li>
                <a href="/history/current/all/" class="btn btn-lg btn-warning blink-warning" style="height:30px; padding-top: 3px; color: #f0f0f0; margin: 10px 5px 0px 0px;">
                    <span class="blink-warning-2 glyphicon glyphicon-warning-sign">{{ current_warnings_count }}个告警</span>
                </a>

            </li>
            {% endif %}
            {% if current_errors_count > 0 %}
            <li>
                <a href="/history/current/all/" class="btn btn-lg btn-danger blink-danger" style="height:30px; padding-top: 3px; color: #f0f0f0; margin: 10px 5px 0px 0px;">
                    <span class="blink-danger-2 glyphicon glyphicon-remove-sign">{{ current_errors_count }}个故障</span>
                </a>
            </li>
            {% endif %}

            <li title="蜂鸣器控制区">
                <iframe src="/control/status/" height="50px" width="80px;" style="padding: 0; margin: 0; border: 0"></iframe>
            </li>

            {% if request.path != "/version/" %}
                <li>
                    <a href="/version/?next={{ request.path }}">
                        <span style="color: #2eaaff; font-size: 15px;" id="id_datetime"></span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ next }}">
                        <span class="glyphicon glyphicon-share-alt">返回</span>
                    </a>
                </li>
            {% endif %}

            {% if request.user.is_anonymous %}
                <li>
                    <a href="/admin/login/?next=/">

                        <span class="glyphicon glyphicon-user text-danger">登录</span>
                    </a>
                </li>
            {% elif request.user.is_superuser %}
                {% if pageclass != "settings"  %}
                <li>
                    <a href="/settings/">
                        <span class="glyphicon glyphicon-wrench">设置</span>
                    </a>
                </li>
                {% endif %}
            {% endif %}

            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-user">{{ request.user.username }}</span>
                </a>
            </li>
            <li>
                <a href="/logout/?cancel={{ request.path }}">
                    <span class="glyphicon glyphicon-off text-danger"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<h1>&nbsp;</h1>