{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}{% endblock %}

{% block title %}系统一次图编辑器{% endblock %}

{% block js_library %}
{% include "theme/01-js-library.html" %}
<script src="/static/js/jmodels/jmodels.js"></script>
<script src="/static/js/jmodels/jmodels-editor.js"></script>
{% endblock %}

{% block css_library %}
{% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
    <script>
        let default_profile = {
            background_color: "{{ profile.background_color }}",
            name: "{{ profile.name }}",
            id: "{{ profile.id }}"
        };
        let update_model_handle = null;

        $(document).ready(function () {
            let painter = new JPaintbord('painter_box', {{ profile.width }}, {{ profile.height }}, {}, default_profile);

            $.getJSON("{% url "linkage node json" profile.id %}", '', function(data, status, xhr){
                for (let id in data) {
                    if (data.hasOwnProperty(id)) {
                        let model = data[id];
                        painter.load_model(Number(id), model);
                    }
                }

                $.getJSON("{% url "linkage anchors json" profile.id %}", '', function(data, status, xhr){
                    for (let id in data) {
                        if (data.hasOwnProperty(id)) {
                            let anchor = data[id];
                            let model = painter.search_model(anchor.model);
                            painter.load_anchor(Number(id), model, anchor);
                        }
                    }

                    $.getJSON("{% url "linkage links json" profile.id %}", '', function(data, status, xhr){
                        for (let id in data) {
                            if (data.hasOwnProperty(id)) {
                                let l = data[id];
                                let begin_anchor = painter.search_anchor(l.begin);
                                let end_anchor = painter.search_anchor(l.end);
                                painter.load_link(Number(l.id), begin_anchor, end_anchor, l.style);
                            }
                        }
                    });
                });
            });

            function update_all_mode() {
                if ( update_model_handle) {
                    clearTimeout(update_model_handle);
                }

                $.getJSON("{% url 'linkage collector value json' profile.id %}", '', function(data, status, xhr){
                    if (status === 'success') {
                        painter.update_all_model_value(data.data);
                        update_model_handle = setTimeout(update_all_mode, 3000);
                    } else {
                        update_model_handle = setTimeout(update_all_mode, 8000);
                    }
                }).fail(function () {
                    update_model_handle = setTimeout(update_all_mode, 10000);
                });
            }

            // 启动数据更新循环
            update_model_handle = setTimeout(update_all_mode, 1000);

            // 处理节点双击事件
            painter.model_event_listener.ondblclick(function (ev, model) {
                let url = "{% url 'edit linkage node' profile.id 'gold_is_a_girl' %}";

                let pack = editor.save();
                $.post("{% url 'linkage profile json' profile.id %}", {profile: JSON.stringify(pack)}, function(){
                    window.location.href = url.replace('gold_is_a_girl', String(model.id));
                });
            });
            // 处理连接双击事件
            painter.link_event_listener.ondblclick(function (ev, link) {
                let url = "{% url 'edit linkage link' profile.id 'gold_is_a_girl' %}";

                let pack = editor.save();
                $.post("{% url 'linkage profile json' profile.id %}", {profile: JSON.stringify(pack)}, function(){
                    window.location.href = url.replace('gold_is_a_girl', String(link.id));
                });
            });

            let editor = initialize_jmodels_editor(painter);
            let painter_box = $('#painter_box');

            editor.onlink(function (p, link, begin, end) {
                $.post("{% url "linkage links json" profile.id %}", {obj: JSON.stringify(link.save())});
            });

            $("#save").click(function () {
                let pack = editor.save();
                console.log(pack);
                $.post("{% url 'linkage profile json' profile.id %}", {profile: JSON.stringify(pack)});
            });

            $("#id_delete_select_model").click(function () {
                editor.delete_selected_model();
            });

            // 新建节点
            $(".new_node").click(function () {
                painter_box.css('cursor', 'crosshair');
                painter_box.bind('click', new_node);

                let width = Number($(this).attr('data-width'));
                let height = Number($(this).attr('data-height'));
                let anchors = $(this).attr('data-anchor');
                let withborder = $(this).attr('data-withborder') === "true";
                function new_node(ev) {
                    painter_box.unbind('click', new_node);
                    let profile = {
                        name: name,
                        x_offset: ev.offsetX,
                        y_offset: ev.offsetY,
                        width: width,
                        height: height,
                        show_boarder: withborder
                    };

                    let model = editor.create_model(profile);
                    if (anchors.indexOf('C') >= 0) {
                        let aprofile = {
                            x_offset: 0,
                            y_offset: 0,
                            name: 'C'
                        };
                        let anchor = editor.create_anchor(model, aprofile);
                        console.log("创建中心锚点：", anchor);
                    }
                    if (anchors.indexOf('W') >= 0) {
                        let aprofile = {
                            x_offset: width/2,
                            y_offset: 0,
                            name: 'W'
                        };
                        let anchor = editor.create_anchor(model, aprofile);
                        console.log("创建W锚点：", anchor);
                    }
                    if (anchors.indexOf('E') >= 0) {
                        let aprofile = {
                            x_offset: -width/2,
                            y_offset: 0,
                            name: 'E'
                        };
                        let anchor = editor.create_anchor(model, aprofile);
                        console.log("创建E锚点：", anchor);
                    }
                    if (anchors.indexOf('S') >= 0) {
                        let aprofile = {
                            x_offset: 0,
                            y_offset: height/2,
                            name: 'S'
                        };
                        let anchor = editor.create_anchor(model, aprofile);
                        console.log("创建S锚点：", anchor);
                    }
                    if (anchors.indexOf('N') >= 0) {
                        let aprofile = {
                            x_offset: 0,
                            y_offset: -height/2,
                            name: 'N'
                        };
                        let anchor = editor.create_anchor(model, aprofile);
                        console.log("创建N锚点：", anchor);
                    }
                }
            });
            $("#id_copy_select_model").click(function () {
                let profiles = editor.copy_select_model();
                if (profiles.length===0) {
                    return;
                }
                function paste_models(ev) {
                    painter_box.unbind('click', paste_models);

                    profiles.sort(function (a, b) {
                        // 排序找到离原点最近的那个点
                        let a_c = a.x_offset * a.x_offset + a.y_offset * a.y_offset;
                        let b_c = b.x_offset * b.x_offset + b.y_offset * b.y_offset;
                        return a_c - b_c;
                    });

                    let delta_x = ev.offsetX - profiles[0].x_offset;
                    let delta_y = ev.offsetY - profiles[0].y_offset;

                    let length = profiles.length;
                    for (let i = 0; i < length; i ++) {
                        let profile = profiles[i];
                        profile.x_offset += delta_x;
                        profile.y_offset += delta_y;

                        let old_model_id = profile.id;
                        delete profile.id;

                        let old_anchors = painter.search_anchors_by_model(old_model_id);

                        let model = editor.create_model(profile);

                        for (let j = 0, alen = old_anchors.length; j < alen; j ++) {
                            let old_anchor_profile = old_anchors[j].save();

                            delete old_anchor_profile.id;
                            old_anchor_profile.model = model.id;

                            let anchor = editor.create_anchor(model, old_anchor_profile);
                            console.log("duplicate anchor:", anchor);
                        }
                        console.log("duplicate model:", model);
                    }
                }

                painter_box.css('cursor', 'crosshair');
                painter_box.bind('click', paste_models);
            });

            $("#id_align_left").click(function (){editor.align_left()});
            $("#id_v_center").click(function (){editor.align_v_center()});
            $("#id_h_center").click(function (){editor.align_h_center()});
            $("#id_align_right").click(function (){editor.align_right()});
            $("#id_same_size").click(function (){editor.same_size()});
            $("#id_eq_v_distance").click(function (){editor.eq_v_distance()});
            $("#id_eq_h_distance").click(function (){editor.eq_h_distance()});
            $("#id_toggle_boarder").click(function (){editor.toggle_boarder()});
        });
    </script>
{% endblock %}
{% block inline_css %}{% endblock %}

{% block page_header %}
    {% include "95-系统一次图编辑显示管理/base-linkage-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
{# 在这里添加你的代码 #}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-xs btn-default disabled text-primary">{{ profile.name }}</button>

                <div class="btn-group btn-group-xs" role="group">
                    <a href="#" id="save" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        保 存
                    </a>
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-file"></span>
                        方 案
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                        </li>
                        <li>
                            <a href="{% url 'save linkage profile' profile.id %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                查看效果
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'edit linkage profile' profile.id %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                编辑方案名称
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-edit"></span>
                        编 辑 画 布
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'edit linkage profile' profile.id %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-fullscreen text-primary"></span>
                                编辑画布尺寸
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'edit linkage profile' profile.id %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-text-background text-primary"></span>
                                编辑画布背景色
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btn-group btn-group-xs">
                <a href="#" class="btn btn-xs btn-default disabled">节点</a>
                <a class="btn btn-xs btn-default" id="id_delete_select_model" href="#" title="删除选择的节点">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                    删除
                </a>
                <a class="btn btn-xs btn-default" id="id_copy_select_model" href="#" title="拷贝选择的节点">
                    <span class="glyphicon glyphicon-duplicate"></span>
                    克隆
                </a>
                <a title="新增0无锚点的节点" class="btn btn-xs btn-default new_node" href="#" data-anchor="" data-width="80" data-height="80" data-withborder="true">
                    <span class="glyphicon glyphicon-link"></span>
                    x0
                </a>
                <a title="新增1锚点的节点" class="btn btn-xs btn-default new_node" href="#" data-anchor="C" data-width="80" data-height="80" data-withborder="true">
                    <span class="glyphicon glyphicon-link"></span>
                    x1
                </a>
                <a title="新增5锚点的节点" class="btn btn-xs btn-default new_node" href="#" data-anchor="WESNC" data-width="80" data-height="80" data-withborder="true">
                    <span class="glyphicon glyphicon-link"></span>
                    x5
                </a>
                <a title="切换边框" class="btn btn-xs btn-default" id="id_toggle_boarder">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </a>

                <a class="btn btn-xs btn-default disabled">对齐</a>
                <a class="btn btn-xs btn-default" title="顶部对齐" id="id_align_top">
                    <span class="glyphicon glyphicon-object-align-top"></span>
                </a>
                <a class="btn btn-xs btn-default" title="底部对齐" id="id_align_bottom">
                    <span class="glyphicon glyphicon-object-align-bottom"></span>
                </a>

                <a class="btn btn-xs btn-default" title="左对齐" id="id_align_left">
                    <span class="glyphicon glyphicon-object-align-left"></span>
                </a>
                <a class="btn btn-xs btn-default" title="右对齐" id="id_align_right">
                    <span class="glyphicon glyphicon-object-align-right"></span>
                </a>
                <a class="btn btn-xs btn-default" title="垂直居中" id="id_v_center">
                    <span class="glyphicon glyphicon-object-align-vertical"></span>
                </a>
                <a class="btn btn-xs btn-default" title="水平居中" id="id_h_center">
                    <span class="glyphicon glyphicon-object-align-horizontal"></span>
                </a>

                <a class="btn btn-xs btn-default" title="一样大" id="id_same_size">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>

                <a class="btn btn-xs btn-default" title="垂直等距分布" id="id_eq_v_distance">
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </a>

                <a class="btn btn-xs btn-default" title="水平等距分布" id="id_eq_h_distance">
                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                </a>
            </div>

            <div class="btn-group btn-group-xs">
                <a href="#" class="btn btn-xs btn-default disabled">连线</a>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-link"></span>
                        连 接
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    关 于
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">About Jmodel</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <canvas id="painter_box"></canvas>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}