{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}电池堆信息总览{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
    <style>
        .switch input {
            display: none;
        }
        .switch-default {
            background-color: #cccccc;
            border-radius: 8px;
//            width: 120px;
            height: 20px;
            line-height: 25px;
            color: #777777;
            font-weight: bolder;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .switch-sm {
            width: 100px;
            height: 20px;
            line-height: 20px;
        }
        .switch-lg {
            width: 150px;
            height: 30px;
            line-height: 30px;
        }
        .switch-value:hover {
            color: #f0f0f0;
            cursor: pointer;
        }
        .switch-value {
            float: left;
            width: 50px;
            background-color: #777777;
        }
        .switch-active {
            color: #ffffff;
            background-color: #0af05b;
        }
        .switch-active:hover {
            color: red;
        }
    </style>
{% endblock %}

{% block page_header %}
    {% include "theme/03-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "02-PCS设备管理/base-tab列表模板.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <table class="table">
        <caption>{{ pcs_name }}遥控</caption>
        <tr>
            <th>#</th>
            <td>名称</td>
            <th>状态/控制</th>
        </tr>
        {% for yaokong in yaokong_list %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ yaokong.name }}</td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    {% for option in yaokong.options %}
                    <a href="/pcs/{{ pcs_id }}/yaokong/?{{ yaokong.name }}={{ option.value }}" type="button" class="btn {% if yaokong.value == option.value %}btn-primary"{% else %}btn-default"{% endif %}>{{ option.name }}</a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}