{% load userfileter %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ grid.name }}</title>
    <script src="/static/js/Chart.bundle.js" ></script>
    <script>

        function create_dataset(graphic_type, label, color, data, axis_id, width, solid, fill) {
            let dataset = {
                type: graphic_type, // bar or line
                label: label,      // text
                data: data,         // arrays
                borderColor: color,
                borderWidth: width,
                fill: fill,
                pointRadius: 0,
                yAxisID: "id_" + axis_id,
            };
            if ( solid ) {
                dataset.borderDash = [5, 5];
            }
            return dataset;
        }

        window.document.onreadystatechange = function (ev) {
            if (ev.target.readyState === 'complete') {
                console.log(window.innerWidth);
                console.log(window.innerHeight);

                function resize_canvas(){
                    let canvas = window.document.getElementById('grid_canvas');
                    canvas.style.width = window.innerWidth + 'px';
                    canvas.style.height = (window.innerHeight {% if request.GET.control %}- 60{% endif %}) + 'px';
                }

                resize_canvas();
                var x_axis_lable = [ {% for l in x_axis_label %}"{{ l | date:"d H:i" }}"{% if not forloop.last %},{% endif %}{% endfor %} ];

                let ctx = document.getElementById('grid_canvas').getContext('2d');
                let painter = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: x_axis_lable,
                        datasets: [
                        {% for field in datasources_fields_list %}
                        {
                            type: "{% if field.style == 'filled' %}line{% else %}{{ field.style }}{% endif %}",
                            label: "{{ field.display_name }}",
                            borderColor: "{{ field.color }}",
                            backgroundColor: Chart.helpers.color("{{ field.color }}").alpha(0.2).rgbString(),
                            data: [ {% for d in field.data %}{{ d }}{% if not forloop.last %},{% endif %}{% endfor %} ],
                            yAxisID: "id_{{ field.axis }}",
                            borderWidth: {{ field.width }},
                            fill: {% if field.style == 'filled' %}true{% else %}false{% endif %},
                            pointRadius: 0
                        },
                        {% endfor %}
                        {% for field in references_list %}
                        {
                            type: "line",
                            label: "{{ field.name }}({{ field.value }})",
                            borderColor: "{{ field.color }}",
                            data: [ {% for _ in x_axis_label %}{{ field.value }}{% if not forloop.last %},{% endif %}{% endfor %} ],
                            yAxisID: "id_{{ field.axis }}",
                            borderWidth: {{ field.width }},
                            fill: false,
                            {% if field.style == 'dashed' %}borderDash: [5, 5],{% endif %}
                            pointRadius: 0
                        },
                        {% endfor %}
                        ]
                    },
                    options: {
                        hoverMode: 'index',
                        scales: {
                            yAxes: [
                                {% for axis in y_axis_list %}
                                {
                                    ticks: {
                                        beginAtZero: true,
                                    },
                                    display: true,
                                    position: '{{ axis }}',
                                    id: "id_{{ axis }}"
                                },
                                {% endfor %}
                            ]
                        },
                        title: {
                            display: false,
                            text: "{{ graphic_name }}"
                        },/*
                        elements: {
                            line: {
                                tension: 0, // disables bezier curves
                            }
                        },*/
                        animation: {
                            duration: 0, // general animation time
                        },
                        hover: {
                            animationDuration: 0, // duration of animations when hovering an item
                        },
                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                        responsiveAnimationDuration: 0, // animation duration after a resize
                    }
                });

                window.onresize = function (ev) {
                    resize_canvas();
                    painter.update();
                }
            }
        }
    </script>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <canvas id="grid_canvas"></canvas>
    <form method="get" action="{{ request.path }}?v_key=={{ request.GET.v_key }}">
        <input type="text" name="v_key" hidden value="{{ request.GET.v_key }}">

        {% if request.GET.control %}
        <input type="text" name="control" hidden value="1">
        <div>
            <label>Last DateTime:
                <input type="radio" name="terminal_datetime" {% if terminal_datetime == 'user_define' %}checked{% endif %} value="user_define">
                <input type="datetime-local" name="userdefine_terminal_datetime" value="{{ userdefine_terminal_datetime|date:"Y-m-d\TH:i:s" }}">
            </label>
            <label>
                <input type="radio" name="terminal_datetime" {% if terminal_datetime == 'now' %}checked{% endif %} value="now">Now
            </label>
        </div>

        <div>
            <label>Records Range:</label>

            <label><input type="radio" name="range_hour"{% if range_hour == 2 %} checked{% endif %} value="2">2 Hour</label>
            <label><input type="radio" name="range_hour"{% if range_hour == 6 %} checked{% endif %} value="6">6 Hours</label>
            <label><input type="radio" name="range_hour"{% if range_hour == 24 %} checked{% endif %} value="24">1 Day</label>
            <label><input type="radio" name="range_hour"{% if range_hour == 144 %} checked{% endif %} value="144">7 Days</label>
            <label><input type="radio" name="range_hour"{% if range_hour == 720 %} checked{% endif %} value="720">30 Days</label>

            <input type="submit" value="Confirm">
        </div>
        {% endif %}
    </form>

</body>
</html>