<ul>
    <a href="/settings/">
        {% if request.path == '/settings/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                系统参数配置
            </span>
        </li>
    </a>
    <a href="/settings/device/">
        {% if request.path == '/settings/device/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设数目配置
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设通讯参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-BMS参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-PCS参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-光伏逆变器参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-空调参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-消防参数
            </span>
        </li>
    </a>
    <a href="/settings/downcomm/">
        {% if request.path == '/settings/downcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                外设-安防视频监控参数
            </span>
        </li>
    </a>
    <a href="/settings/upcomm/">
        {% if request.path == '/settings/upcomm/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                监控通讯参数
            </span>
        </li>
    </a>
    <a href="/settings/datetime/">
        {% if request.path == '/settings/datetime/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                系统日期时间
            </span>
        </li>
    </a>
    <a href="/settings/advance/">
        {% if request.path == '/settings/advance/' %}<li class="active"><span class="glyphicon glyphicon-wrench">
        {% else %}<li><span class="glyphicon glyphicon-option-vertical small text-gray">{% endif %}
                通用选项
            </span>
        </li>
    </a>
</ul>