<!DOCTYPE html>
<html lang="en">
<head>
    {% include "settings/base-html头部.html" %}
    <style>
        th {
            width: 120px;
        }

        .inputter {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    {% include "base-顶部标题栏.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                {% include "settings/base-设置导航栏.html" %}
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-11">
                        <h1><span class="glyphicon glyphicon-wrench"></span> 外设数目配置</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form method="post" action="{{ request.path }}">
                            <table class="table table-condensed table-bordered">
                                <caption>设备数量</caption>
                                <tr>
                                    <th>EMS个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ ems_count }}" min="0" name="ems_count"></td>
                                    <th>PCS个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ pcs_count }}" min="0" name="pcs_count"></td>
                                    <th>逆变器个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ inv_count }}" min="0" name="inv_count"></td>
                                    <th>BMS个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ bms_count }}" min="0" name="bms_count"></td>
                                </tr>
                                <tr>
                                    <td colspan="16"><span class="glyphicon glyphicon-info-sign"></span>
                                        <small style="color: gray;">EMS最大支持1个，PCS/逆变器/BMS最大支持16个</small></td>
                                </tr>
                                <tr>
                                    <th>空调个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ kongtiao_count }}" min="0" name="airconditioner"></td>
                                    <th>消防设备个数</th>
                                    <td colspan="3"><input type="number" class="inputter" value="{{ xiaofang_count }}" min="0" name="firecontrol"></td>
                                    <td colspan="9">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="16"><span class="glyphicon glyphicon-info-sign"></span>
                                        <small style="color: gray;">..</small></td>
                                </tr>
                            </table>

                            <table class="table table-bordered table-condensed">
                                <caption>BMS关联设备数量</caption>
                                <tr>
                                    <th>BMS编号</th>
                                    {% for i in "1234567890123456" %}
                                        <td class="text-center" style="background-color: #0f0f0f; color: #f0f0f0"><b>{{ forloop.counter }}#</b></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>BCMU个数</th>
                                    {% for i in bcmu_count_list %}
                                        <td><input type="number" class="inputter" value="{{ i }}" min="0" name="BCMU个数[]" /></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>电池节数</th>
                                    {% for i in bat_count_list %}
                                        <td><input type="number" class="inputter" value="{{ i }}" min="0" name="电池节数[]" /></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="17"><span class="glyphicon glyphicon-info-sign"></span>
                                        <small style="color: gray;">根据实际需求填写，若不存在BCMU则填0</small></td>
                                </tr>
                            </table>

                            <input type="submit" class="btn btn-primary btn-block" value="保存"></input>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>