<!DOCTYPE html>
<html lang="en">
<head>
    {% include "97-系统参数配置管理/base-html头部.html" %}
</head>
<body>
    {% include "theme/03-顶部标题栏.html" %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                {% include "97-系统参数配置管理/base-设置导航栏.html" %}
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-11">
                        <h1><span class="glyphicon glyphicon-wrench"></span> 系统设备数目配置</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="/static/js/bootstrap.js"></script>
</body>
</html>