{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}{% endblock %}

{% block title %}SVG测试{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
    <script src="/static/jmodels-v2.0/jbasic.js"></script>
    <script src="/static/jmodels-v2.0/jmodel.js"></script>
    <script src="/static/jmodels-v2.0/jpainter.js"></script>
{% endblock %}

{% block css_library %}
{% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
    <script>
        $(document).ready(function () {
            profile = {
                height: 800,
                width: 1200,
            };

            var painter = new jPainter('painter', profile);
            window.painter = painter;
            function refresh_canvas(){painter.rend_for_fun(); window.requestAnimationFrame(refresh_canvas)};
            refresh_canvas();
        });
    </script>
{% endblock %}

{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "95-系统一次图编辑显示管理/base-linkage-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
{# 在这里添加你的代码 #}
    <canvas id="painter"></canvas>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}