{% extends "theme/base.html" %}
{% block title %}空调列表{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
    <script>
        $(document).ready(function () {
            $('.air').click(function () {
                window.location = $(this).attr('target');
            });
        })
    </script>
{% endblock %}

{% block inline_css %}
    <style>
        .air {
            border-color: #f0f0f0 #000000 #000000 #f0f0f0;
            border-style: solid;
            border-width: 1px;
            margin-top: 30px;
        }

        .air:hover {
            border-color: #f00000 #f00000 #f00000 #f00000;
            cursor: pointer;
        }
        .air-img {
            width: 100px;
            height: 200px;
            background-image: url("/static/imgs/air.png");
            background-size: 100px 200px;
        }
        .air-info, .td {
            text-align: right;
        }
    </style>
{% endblock %}

{% block page_header %}
    {% include "theme/03-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "theme/04-顶级选项卡.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <div class="row">
        {% for air in air_list %}
        <div class="col-sm-4">
            <div class="air" target='/air-conditioner/{{ air.id | add:-1 }}/'>
                <div class="air-img center-block"></div>
                <div class="air-info">
                    <table class="table table-striped table-condensed table-bordered" style="margin-bottom: 0">
                        <tr>
                            <th class="text-justify">设备编号</th>
                            <td>{{ air.id }} #</td>
                        </tr>
                        <tr>
                            <th>设备状态</th>
                            <td>
                                {% if air.空调遥测信息.设备工作状态 == 2 %}
                                    <span class="glyphicon glyphicon-play text-success fastblink"> 运行</span>
                                {% elif air.空调遥测信息.设备工作状态 == 1 %}
                                    <span class="glyphicon glyphicon-pause text-success"> 待机</span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove-sign text-danger blink"> 故障</span>
                                {% endif %}
                            </td>
                        </tr>
                        <!--tr>
                            <th>工作模式</th>
                            <td>
                                {% if air.mode == '制冷' %}
                                    <span class="glyphicon glyphicon-asterisk text-success"> {{ air.mode }}</span>
                                {% elif air.mode == '制热' %}
                                    <span class="glyphicon glyphicon-fire text-danger"> {{ air.mode }}</span>
                                {% elif air.mode == '通风' %}
                                    <span class="glyphicon glyphicon-retweet text-warning"> {{ air.mode }}</span>
                                {% endif %}
                            </td>
                        </tr-->
                        <tr>
                            <th>柜外温度</th>
                            <td>{{ air.空调遥测信息.柜外温度 }} ℃</td>
                        </tr>
                        <tr>
                            <th>送风温度</th>
                            <td>{{ air.空调遥测信息.送风温度 }} ℃</td>
                        </tr>
                        <tr>
                            <th>设备运行时间</th>
                            <td>{{ air.空调遥测信息.设备运行时间 }} 小时</td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}