{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}{% endblock %}

{% block title %}节点编辑{% endblock %}

{% block js_library %}
{% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
{% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
{% endblock %}
{% block inline_css %}{% endblock %}

{% block page_header %}
    {% include "95-系统一次图编辑显示管理/base-linkage-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
{# 在这里添加你的代码 #}
    <h1>节点{{ model.name }}编辑</h1>
    <hr>
    <form method="post">
        <div class="row">
            <div class="col-xs-2">
                <label for="id">节点ID</label>
                <input class="form-control" type="text" required readonly id="id" name="id" value="{{ model.id }}">
            </div>
            <div class="col-xs-4">
                <label for="name">名称(变量名)</label>
                <input class="form-control" type="text" required id="name" name="name" value="{{ model.name }}">
                <span class="help-block">用于变量索引，最好用一个有意义的名字，例如bms1, pcs1等</span>
            </div>
            <div class="col-xs-6">
                <label for="style.comment">名称备注说明</label>
                <input class="form-control" type="text" id="style.comment" name="style.comment" value="{{ model.style.comment }}">
                <span class="help-block">解释这个变量的用法及用途</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-2">
                边框控制
                <label class="radio-inline">
                    <input type="radio" id="style.show_boarder" name="style.show_boarder" value="true"{% if model.style.show_boarder %} checked{% endif %}>
                    显示
                </label>
                <label class="radio-inline">
                  <input type="radio" id="style.show_boarder" name="style.show_boarder" value="false"{% if not model.style.show_boarder %} checked{% endif %}>
                     隐藏
                </label>
            </div>
            <div class="col-xs-2">
                <label for="width">节点宽度</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="30" max="300" required id="width" name="width" value="{{ model.width }}">
                    <span class="input-group-addon">px</span>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="height">节点高度</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="30" max="300" required id="height" name="height" value="{{ model.height }}">
                    <span class="input-group-addon">px</span>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="style.font_color">字体颜色</label>
                <input class="form-control" type="color" required id="style.font_color" name="style.font_color" value="{{ style.font_color }}">
            </div>
            <div class="col-xs-2">
                <label for="style.font_size">字体尺寸</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="8" max="30" required id="style.font_size" name="style.font_size" value="{{ style.font_size }}">
                    <span class="input-group-addon">px</span>
                </div>
                <span class="help-block">推荐尺寸：10px</span>
            </div>
            <div class="col-xs-2">
                <label for="style.unit">计量单位</label>
                <input class="form-control" type="text" id="style.unit" name="style.unit" value="{{ style.unit }}">
                <span class="help-block">例如：V，A，℃，KW</span>
            </div>
        </div>

        <label for="style.datasource">数据源</label>
        <input class="form-control" type="text" id="style.datasource" name="style.datasource" value="{{ model.style.datasource }}">
        <span class="help-block">关联采集器中的某一个采集点，只能关联单个点，不能使数组或object对象</span>

        <label>显示动作映射表</label>
        <table class="table table-bordered">
            <tr>
                <th>值</th>
                <th>显示值</th>
                <th>操作</th>
            </tr>
        </table>

        <input type="submit" value="保存" class="btn btn-primary btn-block">
        <a href="{% url 'design linkage profile' id %}" class="btn btn-default btn-block">取消并返回</a>
    </form>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}