{% extends "theme/base-0-12-0.html" %}

{% block meta_block %}{% endblock %}

{% block title %}节点编辑{% endblock %}

{% block js_library %}
{% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
{% include "theme/02-css-library.html" %}
{% endblock %}

{% block inline_js %}
{% endblock %}
{% block inline_css %}{% endblock %}

{% block page_header %}
    {% include "95-系统一次图编辑显示管理/base-linkage-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
{# 在这里添加你的代码 #}
    <h1>节点{{ model.name }}编辑</h1>
    <hr>
    <form method="post" action="{{ request.path }}?next={% url 'design linkage profile' id %}">
        <div class="row">
            <div class="col-xs-2">
                <label for="id">节点ID</label>
                <input class="form-control" type="text" required readonly id="id" name="id" value="{{ model.id }}">
            </div>
            <div class="col-xs-3">
                <label for="title">显示标题</label>
                <input class="form-control" type="text" id="title" name="title" value="{{ model.title}}">
                <span class="help-block">边框旁边的显示名，例如SCADA，1#PCS，2#BMS等</span>
            </div>
            <div class="col-xs-3">
                <label for="name">名称(变量名)</label>
                <input class="form-control" type="text" required id="name" name="name" value="{{ model.name|default:"var_" }}">
                <span class="help-block">用于变量索引，最好用一个有意义的名字，例如bms1, pcs1等</span>
            </div>
            <div class="col-xs-2">
                <label for="init_value">变量初始值</label>
                <input class="form-control" type="text" required id="init_value" name="init_value" value="{{ model.init_value|default:"n/a" }}">
                <span class="help-block">变量初始值，用于显示初始状态</span>
            </div>
            <div class="col-xs-4">
                <label for="comment">名称备注说明</label>
                <input class="form-control" type="text" id="comment" name="comment" value="{{ model.comment }}" placeholder="备注说明可以再特殊场景使用">
                <span class="help-block">解释这个变量的用法及用途</span>
            </div>
            <div class="col-xs-4">
                <label for="href">链接位置</label>
                <input class="form-control" type="text" id="href" name="href" value="{{ model.href }}" placeholder="默认链接路径，不需要可以留空">
                <span class="help-block">链接位置, 例如: /bms/0/</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-2">
                <label>边框控制</label>
                <label class="radio-inline">
                    <input type="radio" id="show_boarder" name="show_boarder" value="true"{% if model.show_boarder or not model.show_boarder %} checked{% endif %}>
                    显示
                </label>
                <label class="radio-inline">
                  <input type="radio" id="show_boarder" name="show_boarder" value="false"{% if not model.show_boarder %} checked{% endif %}>
                     隐藏
                </label>
            </div>
            <div class="col-xs-2">
                <label for="width">节点宽度</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="30" max="300" required id="width" name="width" value="{{ model.width|default:50 }}">
                    <span class="input-group-addon">px</span>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="height">节点高度</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="30" max="300" required id="height" name="height" value="{{ model.height|default:50 }}">
                    <span class="input-group-addon">px</span>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="font_color">字体颜色</label>
                <input class="form-control" type="color" required id="font_color" name="font_color" value="{{ model.font_color|default:"#0f0f0f" }}">
            </div>
            <div class="col-xs-2">
                <label for="font_size">字体尺寸</label>
                <div class="input-group">
                    <input class="form-control" type="number" min="8" max="30" required id="font_size" name="font_size" value="{{ model.font_size|default:10 }}">
                    <span class="input-group-addon">px</span>
                </div>
                <span class="help-block">推荐尺寸：10px</span>
            </div>
            <div class="col-xs-2">
                <label for="unit">计量单位</label>
                <input class="form-control" type="text" id="unit" name="unit" value="{{ model.unit }}">
                <span class="help-block">例如：V，A，℃，KW</span>
            </div>
        </div>

        <label for="datasource">数据源</label>
        <input class="form-control" type="text" id="datasource" name="datasource" value="{{ model.datasource }}">
        <span class="help-block">关联采集器中的某一个采集点，只能关联单个点，不能使数组或object对象, 留空表示不采集</span>

        <hr>
        <div class="row">
            <div class="col-xs-6">显示动作映射</div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-sm btn-success" href="{% url 'create node v_map' id model.id %}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>添加一个映射值</span>
                </a>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>名称</th>
                <th>值</th>
                <th>图片</th>
                <th>水平翻转</th>
                <th>垂直翻转</th>
                <th>旋转</th>
                <th>操作</th>
            </tr>
            {% for vid, vm in model.vmap.items %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>{{ vm.name }}</th>
                    <th>{{ vm.value|default:"*" }}</th>
                    <th>
                        <img src="{{ vm.img }}" alt="显示值", style="width: 30px; height: 30px; border: 1px">
                    </th>
                    <th>{{ vm.h_scale }}</th>
                    <th>{{ vm.v_scale }}</th>
                    <th>{{ vm.degree }}</th>
                    <td class="text-center">
                        <a class="btn btn-xs btn-danger" href="{% url 'delete node v_map' id model.id vid %}?next={{ request.path }}">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            删除
                        </a>
                        <a class="btn btn-xs btn-success" href="{% url 'edit node v_map' id model.id vid %}?next={{ request.path }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            编辑
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <input type="submit" value="保存并返回" class="btn btn-primary btn-block">
        <a href="{% url 'design linkage profile' id %}" class="btn btn-default btn-block">取消并返回</a>
    </form>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}