<!DOCTYPE html>
<html lang="en">
<head>
    {% include "97-系统参数配置管理/base-html头部.html" %}
</head>
<body>
    <div class="container">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>

        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="/linux/logout/">
                    <span class="glyphicon glyphicon-log-out text-success" style="font-size: 100px"></span>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/linux/reboot/">
                    <span class="glyphicon glyphicon-repeat text-warning" style="font-size: 100px"></span>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/linux/halt/">
                    <span class="glyphicon glyphicon-off text-danger" style="font-size: 100px"></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">切换用户/退出登录</b>
            </div>
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">重新启动</b>
            </div>
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">关闭设备</b></small>
            </div>
        </div>

        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg btn-primary" href="{{ cancel }}">取消</a>
            </div>
        </div>
    </div>

    <script src="/static/js/bootstrap.js"></script>
</body>
</html>