{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}电池堆信息总览{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "theme/03-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "01-BMS设备管理/base-堆tab列表模板.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <div class="row">
        <div class="col-sm-12">
        {% if request.user.is_superuser %}<form method="post" action="/bms/{{ bms_id }}/yaotiao/">{% endif %}
            <table class="table table-bordered table-condensed table-striped">
            <caption>
                <div class="row">
                    <div class="col-sm-4">BMS遥调参数</div>
                    {% if request.method == "POST" %}
                    <div class="col-sm-6">
                        {% if success %}
                            <span class="text-success">写入参数成功！</span>
                        {% else %}
                            <span class="text-danger">写入参数失败!</span>
                        {% endif %}
                    </div>
                    <div class="col-sm-2 text-center">
                    {% else %}
                    <div class="col-sm-offset-6 col-sm-2 text-center">
                    {% endif %}
                        {% if request.user.is_superuser %}<button type="submit" class="btn btn-sm btn-primary" value="submit">保存修改</button>{% endif %}
                    </div>
                </div>
            </caption>
            {% for row in yaotiao_list %}
                <tr>
                {% for name, value, unit in row %}
                    {% if name != "时间" %}
                    <td>{{ name }}</td>
                    <td>
                        {% if not request.user.is_superuser %}
                            <span>{{ value }}</span>
                        {% else %}
                        <div class="input-group">
                            <input class="text-right" type="number" name="{{ name }}" style="width: 80px; height: 18px;" value="{{ value }}">
                        </div>
                        {% endif %}
                    </td>
                    <td><span>{{ unit }}</span></td>
                    {% else %}
                    <td colspan="3">
                        <div class="row">
                            <div class="col-sm-6">{{ name }}</div>
                            <div class="col-sm-6">
                                <input class="text-right" {% if not request.user.is_superuser %}disabled{% endif %} type="text" name="{{ name }}" style="width: 140px; height: 18px;" value="{{ value }}">
                            </div>
                        </div>
                    </td>
                            {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        {% if request.user.is_superuser %}</form>{% endif %}
        &nbsp;</div>
    </div>
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}