{% extends "theme/base-1-10-1.html" %}

{% block meta_block %}
    <meta http-equiv="refresh" content="120">
{% endblock %}

{% block title %}单体电压{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "theme/03-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "01-BMS设备管理/base-组tab列表模板.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <table class="table table-striped table-hover table-bordered text-center table-responsive">
        <caption>
            <div class="row">
                <div class="col-sm-6">
                单体<strong>电压</strong>信息，共计电池 <strong> {{ battery_count }}</strong> 节, 单位: V.
                </div>
                <div class="col-sm-6 text-right">
                    数据将会自动更新，周期约 <kbd>{{ period }}</kbd> 秒.
                </div>
            </div>
        </caption>
        <tr>{% for th in title_row %}<th>{{ th }}</th>{% endfor %}</tr>
        {% for row in data_rows %}
            <tr>
                 <th>{% widthratio forloop.counter0 1 column_count %}</th>{% for td in row %}<td>{{ td }}</td>{% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}