<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="get">
        <label>
            Model:
            <select name="model">
                {% for model in models_list %}
                    <option value="{{ model }}"{% if request.GET.model == model %} selected{% endif %}>{{ model }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            End Date:
            {% if request.GET.end_date %}
            <input type="date" name="end_date" value="{{ request.GET.end_date }}" min="{{ system_launch_datetime|date:"Y-m-d" }}" max="{% now "Y-m-d" %}"/>
            {% else %}
            <input type="date" name="end_date" value="{% now "Y-m-d" %}" min="{{ system_launch_datetime|date:"Y-m-d" }}" max="{% now "Y-m-d" %}"/>
            {% endif %}
        </label>

        <label>
            Hour:
            <select name="end_hour">
                {% for seg in hour_segments %}
                    <option value="{{ seg }}"{% if request.GET.end_hour == seg %} selected{% endif %}>{{ seg }}</option>
                {% endfor %}
            </select>
        </label>

        <label>
            Duration:
            <select name="duration">
                {% for duration in select_durations %}
                <option value="{{ duration }}" {% if request.GET.duration == duration %} selected{% endif %}>{{ duration }}</option>
                {% endfor %}
            </select>
        </label>

        <input type="submit" name="dir" value="set" />
        <input type="submit" name="dir" class="btn btn-default" value="pre-period" />
        <input type="submit" name="dir" class="btn btn-default" value="next-period" />
    </form>

</body>
</html>