<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "base-界面head.html" %}
    <title>电池堆信息总览</title>
</head>
<body>
    {% include "base-顶部标题栏.html" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <table class="table">
                    <caption>系统软件版本列表</caption>
                    {% for key, ver in version.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ ver }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-lg-offset-1 col-lg-6">
                <div class="row">
                    <table class="table">
                        <caption>IP</caption>
                        {% for iface, ip in ifaces_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ iface }}</td>
                                <td>{{ ip }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="row">
                    <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        More
                    </a>
                    <div class="collapse" id="collapseExample">
                        <pre>{{ ifaces_more_information|safe  }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>