<!DOCTYPE html>
<html lang="en">
<head>
    {% include "settings/base-html头部.html" %}
</head>
<body>
    <div class="container">
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>

        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="/admin/logout/?next={{ cancel }}">
                    <span class="glyphicon glyphicon-log-out text-success" style="font-size: 100px"></span>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/change_user/">
                    <span class="glyphicon glyphicon-user text-info" style="font-size: 100px"></span>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/admin/logout/?next={{ cancel }}">
                    <span class="glyphicon glyphicon-repeat text-danger" style="font-size: 100px"></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">退出登录</b>
            </div>
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">切换用户</b>
            </div>
            <div class="col-sm-4 text-center">
                <b style="font-size: 25px">重新启动</b><small style="font-size: 20px">(需要鉴权)</small>
            </div>
        </div>

        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg btn-primary" href="{{ cancel }}">取消</a>
            </div>
        </div>
    </div>

    <script src="/static/js/bootstrap.js"></script>
</body>
</html>