{% extends "theme/base.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}事件记录{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
    <script>
        function popup_history_detail(eid) {
            let src = '/history/show/?ueid=' + eid;
            let iframe = window.document.getElementById('id_preview_iframe');
            iframe.src = src;
            $('#preview_model_window').modal({show: true});
        }
    </script>
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "theme/03-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
    {% include "theme/04-顶级选项卡.html" %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <div class="modal fade" id="preview_model_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">历史事件详情</h4>
                </div>
                <div class="modal-body">
                    <iframe id="id_preview_iframe" src="#" width="100%" height="600px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>

    {% if records_count == 0 %}
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-condensed table-responsive table-hover text-center">
                    <caption>
                        {% include "history/base-历史事件入口列表.html" %}
                    </caption>
                </table>
            </div>
        </div>
        <div class="alert alert-success" role="alert">还没有事件记录！</div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-condensed table-responsive table-hover text-center">
                    <caption>
                        {% include "history/base-历史事件入口列表.html" %}
                    </caption>
                    <tr class="info">
                        <th>#</th>
                        <th>事件ID</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>代码</th>
                        <th>来源类型</th>
                        <th>级别</th>
                        <th>内容</th>
                        <!--th>确认</th-->
                    </tr>
                    {% for record in records_list %}
                    {% if record.code == 4 %}
                    <tr style="font-size: 12px" class="success">
                    {% elif record.code == 0 %}
                    <tr style="font-size: 12px" class="danger">
                    {% elif record.code == 1 %}
                    <tr style="font-size: 12px" class="warning">
                    {% elif record.code == 8 or record.code == 9 %}
                    <tr style="font-size: 12px" class="info">
                    {% else %}
                    <tr style="font-size: 12px">
                    {% endif %}
                        <th>{{ record.id }}</th>
                        <td><a href='javascript:popup_history_detail("{{ record.ueid }}");'>{{ record.ueid }}</a></td>
                        <td>{{ record.etsp_begin | date:"Y-m-d H:i:s" }}</td>
                        <td>{{ record.etsp_end | date:"Y-m-d H:i:s" }}</td>
                        <td>{{ record.ecode }}</td>
                        <td>{{ record.eclass }}</td>
                        <td>{{ record.elevel }}</td>
                        <td>{{ record.abstrct }}</td>
                        <!--td>
                            {% if record.econfirm_user == '' %}
                                <a href="/history/confirm/?ueid={{ record.ueid }}">确认</a>
                            {% else %}
                                <a href="/history/show/?ueid={{ record.ueid }}">{{ record.econfirm_user }}</a>
                            {% endif %}
                        </td-->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if pages_count > 1 %}
        <div class="row text-center">
            <ul class="pagination">
                <li>
                    <a href="{{ request.path }}" aria-label="top">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in page_list %}
                    <li {% if page == show_page %}class="active" {% endif %}><a href="{{ request.path }}?page={{ page }}">{{ page | add:"1" }}</a></li>
                {% endfor %}
                <li>
                <a href="{{ request.path }}?page={{ pages_count | add:"-1" }}" aria-label="bottom">
                <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}