<!DOCTYPE html>
<html lang="en">
<head>
    <title>当前事件</title>
    {% include "base-界面head.html" %}
</head>
<body>
    {% include "base-顶部标题栏.html" %}

    <div class="container-fluid">
        {% include "base-顶级选项卡.html" %}
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
        {% if records_count == 0 %}
            <div style="padding-top: 8px;"></div>
            {% include "history/base-历史事件入口列表.html" %}
            <div style="padding-top: 8px;"></div>
            <br>
            <div class="alert alert-success" role="alert">还没有事件记录！</div>
        {% else %}
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-condensed table-responsive table-hover text-center">
                        <caption>
                            {% include "history/base-历史事件入口列表.html" %}
                        </caption>
                        <tr class="info">
                            <th>#</th>
                            <th>事件ID</th>
                            <th>代码</th>
                            <th>摘要</th>
                            <th>来源类型</th>
                            <th>级别</th>
                            <th>时间</th>
                        </tr>
                        {% for evt in records_list %}
                        <tr style="font-size: 12px;">
                            <td>{{ evt.id }}</td>
                            <td>{{ evt.ueid }}</td>
                            <td>{{ evt.ecode }}</td>
                            <td>{{ evt.abstrct }}</td>
                            <td>{{ evt.eclass }}</td>
                            <td>{{ evt.elevel }}</td>
                            <td>{{ evt.etsp | date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if pages_count > 1 %}
            <div class="row text-center">
                <ul class="pagination">
                    <li>
                        <a href="/history/current/" aria-label="top">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in page_list %}
                        <li {% if page == show_page %}class="active" {% endif %}><a href="/history/current/all/?page={{ page }}">{{ page | add:"1" }}</a></li>
                    {% endfor %}
                    <li>
                    <a href="/history/current/all/?page={{ pages_count | add:"-1" }}" aria-label="bottom">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </div>
        {% endif %}
            </div>
        </div>
    </div>
    {% include 'base-底部彩条.html' %}
{#        <script src="/static/js/bootstrap.js"></script>#}
</body>
</html>