<ul class="nav nav-tabs">
    <li role="presentation"><a href="/bms/0/">返回 <span class="glyphicon glyphicon-share-alt"></span></a></li>
    <li role="presentation"{% if type == "group" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/"><strong>{{ group_id | add:"1" }}#电池组信息</strong></a></li>
    <!--
    <li role="presentation"{% if type == "group_yaoce" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/yaoce/">遥测</a></li>
    <li role="presentation"{% if type == "group_yaoxin" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/yaoxin/">遥信</a></li>
    -->
    <li role="presentation"{% if type == "group_grid" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/grid/{{ group_id }}/">充放电曲线 <span class="glyphicon glyphicon-random"></span></a></li>
    <li role="presentation"{% if type == "group_V" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/V/">单体电压</a></li>
    <li role="presentation"{% if type == "group_T" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/T/">单体温度</a></li>
    <li role="presentation"{% if type == "group_SOC" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/SOC/">单体SOC</a></li>
    <li role="presentation"{% if type == "group_SOH" %} class="active"{% endif %}><a href="/bms/{{ bms_id }}/group/{{ group_id }}/SOH/">单体SOH</a></li>
</ul>
