{% load userfileter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="120">
    <title>电池堆充放电曲线</title>
    {% include "base-界面head.html" %}

    <script src="/static/js/Chart.bundle.js" ></script>
    <script>
        var soc_tsp = [ {% for r in SOC %}"{{ r.datetime | date:"H:i" }}"{% if not forloop.last %},{% endif %}{% endfor %} ];
        var soc_data = [ {% for r in SOC %}{{ r.record|zoom:2 }}{% if not forloop.last %},{% endif %}{% endfor %} ];

        var V_tsp = [ {% for r in V %}"{{ r.datetime | date:"H:i" }}"{% if not forloop.last %},{% endif %}{% endfor %} ];
        var V_data = [ {% for r in V %}{{ r.record|zoom:2 }}{% if not forloop.last %},{% endif %}{% endfor %} ];

        var I_tsp = [ {% for r in I %}"{{ r.datetime | date:"H:i" }}"{% if not forloop.last %},{% endif %}{% endfor %} ];
        var I_data =[ {% for r in I %}{{ r.record|zoom:2 }}{% if not forloop.last %},{% endif %}{% endfor %} ];
        for ( var i = 0; i < soc_data.length; i ++ ) {
            if ( soc_data[i] > 100 ) {
                soc_data[i] = 110;
            } else if ( soc_data[i] < 0 ) {
                soc_data[i] = -10;
            }
        }
        for ( var i = 0; i < V_data.length; i ++ ) {
            if ( V_data[i] > 1500 ) {
                V_data[i] = 1500;
            } else if ( V_data[i] < -1500 ) {
                V_data[i] = -1500;
            }
        }
        for ( var i = 0; i < I_data.length; i ++ ) {
            if ( I_data[i] > 1600 ) {
                I_data[i] = 1600;
            } else if ( I_data[i] < -1600 ) {
                I_data[i] = -1600;
            }
        }

        function draw_line(c, name, leg, lable, data, color) {
            var ctx = document.getElementById(c).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: lable,
                    datasets: [{
                        label: leg,
                        data: data,
                        borderColor: color,
                        borderWidth: 1,
                        fill: false,
                        pointRadius: 0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: name
                    },/*
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    },*/
                    animation: {
                        duration: 0, // general animation time
                    },
                    hover: {
                        animationDuration: 0, // duration of animations when hovering an item
                    },
                    // grid line settings
                    gridLines: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                    responsiveAnimationDuration: 0, // animation duration after a resize
                }
            });
        }

        $(document).ready(function () {
            draw_line('id_soc', "SOC曲线(24小时)", "SOC (%)", soc_tsp, soc_data, 'rgba(255,99,132,1)');
            draw_line('id_V', "电压曲线(24小时)", "电压 (V)", V_tsp, V_data, 'rgba(54, 162, 235, 1)');
            draw_line('id_I', "电流曲线(24小时)", "电流 (A)", I_tsp, I_data, 'rgba(153, 102, 255, 1)');
        });

    </script>
</head>
<body>
    {% include "base-顶部标题栏.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-lg-12">
                        {% include "bms/base-堆tab列表模板.html" %}
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="id_soc" width="800px" height="170px"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <canvas id="id_I" width="800px" height="170px"></canvas>
            &nbsp;</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <canvas id="id_V" width="800px" height="170px"></canvas>
            &nbsp;</div>
        </div>

    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>