{% extends "theme/base-0-12-0.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}FAQ{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
{% endblock %}

{% block page_header %}
    {% include "99-开发管理/base-devel-顶部标题栏.html" %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    {% for faq in faq_list %}
    <div class="row" id="{{ faq.title }}">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">#{{ forloop.counter }} {{ faq.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ faq.body|safe }}
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block bottom_color_bar %}
    {% include "theme/05-底部彩条.html" %}
{% endblock %}