{% extends "theme/base-0-12-0.html" %}

{% block meta_block %}
{% endblock %}

{% block title %}模拟量采样信息{% endblock %}

{% block js_library %}
    {% include "theme/01-js-library.html" %}
{% endblock %}

{% block css_library %}
    {% include "theme/02-css-library.html" %}
{% endblock %}

{# <script></script> 标签 #}
{% block inline_js %}
{% endblock %}

{# <style></style> 标签 #}
{% block inline_css %}
    <style>
    body{
        overflow: hidden;
    }
    </style>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block menu_tabs %}
{% endblock %}

{% block main_body %}
    {# 在这里添加你的代码 #}
    <h2>模拟量信息</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">集装箱位置1温度</span>
                        <input disabled type="text" value="{{ sample.温度采集1 }}" class="form-control text-center">
                        <span class="input-group-addon">℃</span>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">集装箱位置2温度</span>
                            <input disabled type="text" value="{{ sample.温度采集2 }}" class="form-control text-center">
                            <span class="input-group-addon">℃</span>
                        </div>
                    </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">集装箱位置3温度</span>
                        <input disabled type="text" value="{{ sample.温度采集3 }}" class="form-control text-center">
                        <span class="input-group-addon">℃</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">集装箱位置4温度</span>
                        <input disabled type="text" value="{{ sample.温度采集4 }}" class="form-control text-center">
                        <span class="input-group-addon">℃</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_color_bar %}
{% endblock %}
